@model IEnumerable<Gestionale_Polizia.Models.TotaleVerbali>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trasgressore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrasgressoreCognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotaleVerbale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trasgressore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrasgressoreCognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotaleVerbale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
